Repository MichaIng/DietPi, pull requests merged in 2022-06, with the labels that each got.

#5539 DietPi-Software | Radarr: Fix install on ARMv6
  CHANGELOG.txt
  dietpi/dietpi-software
Labels: Bug :lady_beetle:, ARMv6, RPi

#5546 DietPi-Software | PiVPN: Add unattended install
  CHANGELOG.txt
  dietpi.txt
  dietpi/dietpi-software
Labels: Feature Request :factory:, Docs change required

#5550 DietPi-Software | HAProxy
  CHANGELOG.txt
  README.md
  dietpi/dietpi-software
Labels: Enhancement :dash:, Docs change required

#5551 DietPi-Software | Prometheus Node Exporter
  .meta/dietpi-survey_report
  CHANGELOG.txt
  README.md
  dietpi/dietpi-services
  dietpi/dietpi-software
Labels: Software Request :cd:

#5558 DietPi-Software | Tailscale VPN
  .meta/dietpi-survey_report
  CHANGELOG.txt
  README.md
  dietpi/dietpi-services
  dietpi/dietpi-software
Labels: Software Request :cd:, Docs change required

#5568 DietPi-Software | Emby
  dietpi/dietpi-software
Labels: Enhancement :dash:

#5560 DietPi-Software | Rclone
  .meta/dietpi-survey_report
  CHANGELOG.txt
  README.md
  dietpi/dietpi-software
Labels: Software Request :cd:, Docs change required

#5567 Dietpi-Software | ZeroTier
  .meta/dietpi-survey_report
  CHANGELOG.txt
  README.md
  dietpi/dietpi-services
  dietpi/dietpi-software
Labels: Software Request :cd:, Docs change required

#5572 Beta v8.6.0
  .build/images/U-Boot/99-dietpi-uboot
  .build/images/U-Boot/dietpi-initramfs_cleanup
  .build/images/dietpi-build
  .build/images/dietpi-imager
  .build/images/dietpi-installer
  .build/software/Amiberry/build.bash
  .meta/dietpi-survey_report
  .update/patches
  .update/pre-patches
  .update/version
  CHANGELOG.txt
  README.md
  dietpi.txt
  dietpi/dietpi-letsencrypt
  dietpi/dietpi-services
  dietpi/dietpi-software
  dietpi/dietpi-vpn
  dietpi/func/dietpi-globals
  dietpi/func/dietpi-set_hardware
Labels: Beta :test_tube:
