Repository MichaIng/DietPi, pull requests merged in 2024-11, with the labels that each got.

#7274 DietPi-Software | Yacy
  CHANGELOG.txt
  dietpi/dietpi-software
Labels: Enhancement :dash:

#7276 DietPi-Software | MineOS: Fix install on Bookworm and login
  CHANGELOG.txt
  dietpi/dietpi-software
Labels: Bug :lady_beetle:, Enhancement :dash:, External bug :lady_beetle:, Docs change required

#7280 Add handling of BINFMT to kernel of Quartz64
  .build/images/Quartz64/quartz64_defconfig
Labels: Enhancement :dash:, Quartz64

#7184 calico fixes
  .build/images/Quartz64/quartz64_defconfig
Labels: Enhancement :dash:, Quartz64

#7282 Removing deprecated parameters from smb.conf
  .conf/dps_96/conf
Labels: Enhancement :dash:
