Repository MichaIng/DietPi, pull requests merged in 2025-07, with the labels that each got.

#7614 dietpi-software: File Browser: reduce minimum password length if needed
  CHANGELOG.txt
  dietpi/dietpi-software
Labels: Upstream change

#7615 Orange Pi 3: add support
  .build/images/dietpi-build
  .build/images/dietpi-installer
  .github/workflows/dietpi-build.yml
  .meta/dietpi-survey_report
  CHANGELOG.txt
  dietpi/func/dietpi-obtain_hw_model
  dietpi/func/dietpi-set_software
Labels: Image request :floppy_disk:, Docs change required, Orange Pi 3

#7606 Beta v9.15.0
  .build/images/dietpi-build
  .build/images/dietpi-imager
  .build/images/dietpi-installer
  .build/software/amiberry-lite/build.bash
  .build/software/amiberry/build.bash
  .build/software/dietpi-software-build.bash
  .build/software/unbound/build.bash
  .conf/dps_114/apache.nextcloud.conf
  .conf/dps_182/unbound.conf
  .github/workflows/dietpi-build.yml
  .github/workflows/dietpi-software-build.yml
  .github/workflows/dietpi-software.bash
  .github/workflows/update_urls.bash
  .meta/dietpi-bookworm-upgrade
  .meta/dietpi-survey_report
  .update/patches
  .update/pre-patches
  .update/version
  CHANGELOG.txt
  dietpi/dietpi-display
  dietpi/dietpi-software
  dietpi/func/dietpi-globals
  dietpi/func/dietpi-obtain_hw_model
  dietpi/func/dietpi-set_hardware
  dietpi/func/dietpi-set_software
Labels: Beta :test_tube:

#7640 dietpi-trixie-upgrade: add script for Debian Trixie upgrade
  .conf/dps_85/nginx.conf
  .meta/dietpi-bookworm-upgrade
  .meta/dietpi-trixie-upgrade
  .update/patches
  .update/pre-patches
  dietpi/dietpi-software
  dietpi/dietpi-update
Labels: Distro upgrade, Trixie

#7642 Beta v9.15.1
  .build/software/unbound/build.bash
  .conf/dps_85/nginx.conf
  .meta/dietpi-bookworm-upgrade
  .meta/dietpi-trixie-upgrade
  .update/patches
  .update/pre-patches
  .update/version
  CHANGELOG.txt
  dietpi/dietpi-software
  dietpi/dietpi-update
  dietpi/func/dietpi-globals
Labels: Beta :test_tube:

#7646 Beta v9.15.2
  .build/software/unbound/build.bash
  .build/software/vaultwarden/build.bash
  .update/patches
  .update/version
  CHANGELOG.txt
  dietpi/dietpi-display
  dietpi/func/dietpi-globals
Labels: Beta :test_tube:

#7638 Release v9.15
  .build/images/dietpi-build
  .build/images/dietpi-imager
  .build/images/dietpi-installer
  .build/software/amiberry-lite/build.bash
  .build/software/amiberry/build.bash
  .build/software/dietpi-software-build.bash
  .build/software/unbound/build.bash
  .build/software/vaultwarden/build.bash
  .conf/dps_114/apache.nextcloud.conf
  .conf/dps_182/unbound.conf
  .conf/dps_85/nginx.conf
  .github/workflows/dietpi-build.yml
  .github/workflows/dietpi-software-build.yml
  .github/workflows/dietpi-software.bash
  .github/workflows/update_urls.bash
  .meta/dietpi-bookworm-upgrade
  .meta/dietpi-survey_report
  .meta/dietpi-trixie-upgrade
  .update/patches
  .update/pre-patches
  .update/version
  CHANGELOG.txt
  dietpi/dietpi-display
  dietpi/dietpi-software
  dietpi/dietpi-update
  dietpi/func/dietpi-globals
  dietpi/func/dietpi-obtain_hw_model
  dietpi/func/dietpi-set_hardware
  dietpi/func/dietpi-set_software
Labels: Release :champagne:

#7649 Init v9.16
  .meta/dietpi-survey_report
  .update/version
  CHANGELOG.txt
  dietpi/func/dietpi-globals
Labels: META
